@import  url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:wght@300&display=swap');

* { margin: 0;
padding: 0;
border: none;}


body {font-family: 'Lato', sans-serif;
font-weight:300 ;
color: #3a3a3a;}


/* headings and log */

h1,h2{

    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo{ 
    float: left;
font-size: 280%;
margin-left: 30px;}

/* nav links */

#menu {font-size: 110%;
letter-spacing: 4px;}

#menu, #logo {
    line-height: 75px;
}

#menu li
{
    float:right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a { text-decoration: none;
color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

    .active {
        border-bottom: 1px solid #3a3a3a;}

#cover-text,#cover-text h2 {
color: #fff;
text-align:right;

}

#yoga {
    height: 600px;
    width: 100%;
    background-image: url('"/image/yoga pose.jpg')  no-repeat center center;
    position: relative;
 
}

#namest {
height: 250px;
width:100px
background-image url('/image/namest.jpg')  no-repeat center;

animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;

}

/* creates the level of zoom for the namest image*/
@keyframes namest {
    from {
transform: scale(1);

    } to { transform: scale(1.1);

    }
}

#cover-text {
    font-size: 130%;
    font-family: aboreto sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(164,219,232,7);

    bottom:30px;
    right:150px;
    position: absolute;

}


/* About us */

#about-us {
height:600px;
}

#left-about { 
padding-top:30px;
width:33%;
float:left;}

#right-about {
    padding-top:30px;
    width: 33%;
    float:right;
}

    #center-about {width: 33%;
        margin: 0 auto
        ;
    }

    hr { border-top:   1px solid #3a3a3a;
    width: 100%;
margin: 5px 0;}
    
    .left-about-heading { width:60%;
        float:right;
        line-height: 20px;
        clear:both;
        margin-bottom: 50px;

    }
    .right-about-heading {
        width: 60%;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }
    
    .right-about-heading h2 {
        text-align: right;
    }
    
    .right-about-heading p {
        text-align: right;
    }

    #circle-cover-bg { 
        background-image: url('/image/pexels-dana-tentis-315843.jpg')  no-repeat center center;
    height: 400px;
    width: 95%;
    border-radius: 50%;
    position: relative ;
   margin: auto
    

    }

    #welcome {text-align: center;
    margin: 20px 0;
font-size: 150%;}


#times {
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    overflow:hidden;

}
#times div {
color: #fafafa;
background-color: rgba(164,116,72,7);
width: 100%;
height: 200px;
text-align: center;
margin: auto;
float: left;
padding: 30px 0 0 10px;
border: 2px solid #fafafa;
box-sizing: border-box;
}

form{
    max-width: 768px;
    width: 100%;
    margin: 10px auto;
    
}

/* footer style */

footer{

    height: 150px;
}
.social-networks {

    text-align: center;
}

.social-networks > li
{
    display: inline;
}

.social-networks i {
font-size: 100%;
margin: 1%;
padding: 5px;
color: #3a3a3a;
text-align: center;
text-rendering: auto;
border: 5px;

}

#photos {

    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;

}

#photos > img {
    width: 100%;
}

/* media queries */

/*for screens 1200px and down*/

@media screen and (max-width:1200px)  {

    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    
#welcome {
padding: 30px 0;
margin: 0;
}

#left-about,#right-about {
    width:100%;
    float:left;
    padding:0;

}
#center-about {
clear: both;
width:100%;
float:left;
padding:0;

}

#times > div {

    width: 100%;
    clear:both;
    height: 150px;
    padding:0;
}

hr {

display: none;
}
}

/* medium screens 950px and smaller*/


@media screen and (max-width:950px) {
    #menu{
clear:left;
float:left;
margin-left: 30px;
margin-bottom: 20px;
line-height: 25px;
} 

#cover-text{
    left:0;
}

#club-ethos{
    width:90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading,.right-about-heading{
    width:inherit;

}
.left-about-heading h2,.right-about-heading h2{
width:100%;
text-align: center;
}

.left-about-heading p,.right-about-heading p{
    text-align: center;
    padding: 0 20px;}

    #photos{
        column-count: 3;
    }
}


/* medium screens 800px and smaller*/

@media screen and  (max-width:800px) {

    #photos{
                    column-count: 2;}
    }
    .contact-heading {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color:  #252525;
        padding-top: 80px;
    }
    
    .center-form {
        padding-top: 20px;
        margin: 0 auto;
        max-width: 75%;
    }
    
    button[type="submit"] {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #3a3a3a;
        background-color: white;
    }
    
    label{
      display: inline-block;
      margin: 5px 5px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      color: #252525;
    }
    
    form {
        max-width:768px;
        width:100%;
        margin: 10px auto;
        border: #252525;
    }
    
    .contact-reason {
            text-align: center;
            text-transform: inherit;
            
    }

    .copyright {
        font-size: 15px;
        text-align: center;
    }
   

    #contact-center {
        padding-top: 5%;
        margin: auto;
        padding-bottom: 10%;
    }
    
    